.projects {
  padding: 120px 0;

  &__title {
    text-align: center;
    font-family: var(--II), sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 50px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    &-card {
      

      &-img img {
        width: 364px;
        height: 200px;
      }

      &-title {
        font-family: var(--II), sans-serif;
        font-weight: 700;
        font-size: 21px;
        margin-top: 35px;
      }
    }

    &-btn {
      display: flex;
      gap: 30px;
      font-family: var(--MM), sans-serif;
      font-weight: 500;
      font-size: 17px;
      margin-top: 30px;
      text-decoration: none;

      &-icon {
        color: #0d0d0d;
        padding: 18px 35px;
        border-radius: 30px;
        border: 2px solid #4fc3f7;
        background: #4fc3f7;
        transition: 0.3s;

        &:hover {
          background: var(--main);
          color: #4fc3f7;
          transform: translateY(-5px);
        }
      }
    }
  }
}
